{{ define "main" }}
  <div
    class="archive {{ with .Site.Params.doNotLoadAnimations }}
      .

    {{ else }}
      animated fadeInDown

    {{ end }}"
  >
  <div class="favorites-preview">
    <div ID="gallery-favorites" data-nanogallery2='{
      "itemsBaseURL": "{{.Page.Site.Params.S3CDN}}/img/gallery/travel/",
      "thumbnailWidth": "250",
      "thumbnailHeight": "250",
      "thumbnailBorderVertical": 1,
      "thumbnailBorderHorizontal": 1,
      "thumbnailLabel": {
        "position": "overImageOnBottom",
        "displayDescription": true
      },
      "thumbnailHoverEffect2": "labelAppear75|descriptionSlideUp",
      "galleryDisplayMode": "pagination",
      "galleryMaxRows": 2,
      "thumbnailAlignment": "center",
      "thumbnailOpenImage": true
    }'>
  <a href="san_juan_1.JPG" data-ngthumb="san_juan_1.JPG" data-ngdesc="Flight over San Juan Islands">San Juan Islands</a>
  <a href="san_juan_2.JPG" data-ngthumb="san_juan_2.JPG" data-ngdesc="Flight over San Juan Islands">San Juan Islands</a>
  <a href="colorado_01.jpg" data-ngthumb="colorado_01.jpg" data-ngdesc="Flight over Colorado">Colorado</a>
  <a href="maine-trip-01.jpg" data-ngthumb="maine-trip-01.jpg" data-ngdesc="Maine Hike, Acadia National Park">Acadia, Maine</a>
  </div>

  </div>
  <hr>
    <ul class="list-with-title">
      {{ range .Data.Pages.GroupByDate "2006" }}
        <div class="listing-title">{{ .Key }}</div>
        {{ range .Pages }}
          <ul class="listing">
            <div class="listing-item">
              <div class="listing-post">
                <a href="{{ .RelPermalink }}" title="{{ .Title }}">{{ .Title }} 
                  {{/*  {{ with .Page.Params.Categories}}
                    <span class="category-badge"> {{ partial "taxonomy/categories.html" . }}</span>
                  {{end}}

                  {{ with .Page.Params.Tags}}
                    <span class="tag-badge">{{ partial "taxonomy/tags.html" . }}</span>
                  {{end}}  */}}
                </a> 
                <div class="post-time">
                  <span class="date"
                    >{{ if isset .Site.Params "listdateformat" }}
                      {{ .Date | time.Format .Site.Params.listDateFormat }}


                    {{ else }}
                      {{ .Date.Format "Jan 2" }}


                    {{ end }}</span
                  >
                </div>
              </div>
            </div>
          </ul>

        {{ end }}


      {{ end }}
    </ul>
  </div>

{{ end }}
