{{ define "main" }}
  {{/* Breadcrumbs for nested content navigation */}}
  {{- partial "breadcrumbs.html" . -}}

  <div
    class="archive {{ with .Site.Params.doNotLoadAnimations }}
      .

    {{ else }}
      animated fadeInDown

    {{ end }}"
  >
  {{/* Featured photos preview using GLightbox - gallery grid styles in custom.css */}}
  <div class="favorites-preview">
    <div class="gallery-grid" id="gallery-favorites">
      {{ $baseURL := .Page.Site.Params.S3CDN }}
      <a href="{{ $baseURL }}/img/favorites/IMG_1606.JPG" class="glightbox" data-gallery="favorites" data-type="image" data-description="Crater Lake, Oregon" aria-label="View image: Crater Lake, Oregon">
        <img src="{{ $baseURL }}/img/favorites/IMG_1606.JPG" alt="Crater Lake, Oregon" loading="lazy" />
      </a>
      <a href="{{ $baseURL }}/img/favorites/IMG_1608.JPG" class="glightbox" data-gallery="favorites" data-type="image" data-description="Crater Lake, Oregon" aria-label="View image: Crater Lake, Oregon">
        <img src="{{ $baseURL }}/img/favorites/IMG_1608.JPG" alt="Crater Lake, Oregon" loading="lazy" />
      </a>
      <a href="{{ $baseURL }}/img/favorites/20230426_092045.jpg" class="glightbox" data-gallery="favorites" data-type="image" data-description="Cabot Trail, Nova Scotia" aria-label="View image: Cabot Trail, Nova Scotia">
        <img src="{{ $baseURL }}/img/favorites/20230426_092045.jpg" alt="Cabot Trail, Nova Scotia" loading="lazy" />
      </a>
      <a href="{{ $baseURL }}/img/favorites/20230426_172633.jpg" class="glightbox" data-gallery="favorites" data-type="image" data-description="Cabot Trail, Nova Scotia" aria-label="View image: Cabot Trail, Nova Scotia">
        <img src="{{ $baseURL }}/img/favorites/20230426_172633.jpg" alt="Cabot Trail, Nova Scotia" loading="lazy" />
      </a>
    </div>
  </div>
  <hr>
    <ul class="list-with-title">
      {{ range .Data.Pages.GroupByDate "2006" }}
        <div class="listing-title">{{ .Key }}</div>
        {{ range .Pages }}
          <ul class="listing">
            <div class="listing-item">
              <div class="listing-post">
                <a href="{{ .RelPermalink }}" title="{{ .Title }}">{{ .Title }} 
                  {{/*  {{ with .Page.Params.Categories}}
                    <span class="category-badge"> {{ partial "taxonomy/categories.html" . }}</span>
                  {{end}}

                  {{ with .Page.Params.Tags}}
                    <span class="tag-badge">{{ partial "taxonomy/tags.html" . }}</span>
                  {{end}}  */}}
                </a> 
                <div class="post-time">
                  <span class="date"
                    >{{ if isset .Site.Params "listdateformat" }}
                      {{ .Date | time.Format .Site.Params.listDateFormat }}


                    {{ else }}
                      {{ .Date.Format "Jan 2" }}


                    {{ end }}</span
                  >
                </div>
              </div>
            </div>
          </ul>

        {{ end }}


      {{ end }}
    </ul>
  </div>

{{ end }}
